.card{
    width: 850px;
    margin: auto;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 20px;
}
.cover{
    width: 850px;
    height: 150px;
    object-fit: fill;
    position: relative;
    border-radius: 20px;
    /* filter: blur(5px); */
}
.user{
    height: 100px;
    position: absolute;
    left: 370px;
    bottom: 154px;
    border: 4px solid white;
    border-radius: 50%;
}
.footer{
    padding: 55px;
}
.div{
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
}
.p{
    text-align: center;
    font-size: larger;
    font-weight: 500;
    color: rgb(78, 71, 71);
}